body{
  color: #32325f;
  font-family: sans-serif;
}

a{
  color: #ffffff;
}

.navbar{
  color: #95989a;
  font-size: 20px;
  font-weight: 700;
}

.navbar-light{
  margin-top: 74px;
}
.subtitle{
  margin-top: 159px;
  font-size: 20px;
  font-weight: 400;
}

.title{
  margin-top: 14px;
  font-size: 48px;
  font-weight: 700;
}

.description{
  margin-top: 26px;
}

.price-tag{
  font-size: 20px;
  font-weight: 400;
}

.price-tag{
  margin-top: 16px;
}

.price{
  font-size: 48px;
  font-weight: 400;
}

.main-image{
  margin-top: 291px;
  margin-right: 65px;
}
.main{
  margin-top: 100px;
}

.hero{
  background-color: #f4f5f7;
  padding-top:74px;
  padding-bottom: 191px;
}

.section{
  padding-bottom: 100px;
  padding-top: 100px;
}

.about-block{
  margin-top: 100px;
  padding-bottom: 131px;
}

.about-block_1{
  margin-top: 64px;
}
.about-block_2{
  padding-bottom: 112px;
}

.section-subtitle{
  margin-top: 90px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 13px;
}

.section-title{
  color: #32325f;
  font-size: 48px;
  font-weight: 700;
}

.about_image{
  background-color: #f4f5f7;
  margin-top: 50px;
}

.section-heading_people{
  padding-top: 100px;
  padding-bottom: 64px;
}


footer{
  background-color: #32325f;
  color: white;
  padding-top: 78px;
  padding-bottom: 104px;
}

.footer-title{
  margin-top: 78px;
  margin-bottom: 34px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.property{
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration: none;
}

.information{
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration: none;
}

.links{
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration: none;
}